@mixin list-container($width: 500px, $height:300px, $background-color: #4f5051) {
  width: $width;
  height: $height;
  max-width: $width;
  max-height: $height;
  background-color: $background-color;
}

@mixin list-item($height: 70px) {
  color: white;
  display: grid;
  align-items: center;
  height: $height;
  width: inherit;
  grid-template-columns: 50px auto;
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  border-bottom: 1px solid gray;
  padding: 0px 10px;
  text-decoration: none;
  transition: background 250ms ease 0ms;
  background-color: inherit;

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    text-decoration-line: underline;
    text-decoration-color: white;
    transition: background 250ms ease 0ms;
    background-color: #2d2d2d;
  }
}