$record-hover-decoration-color: black;
$record-container-std: 300px;
$record-container-margin: 20px;

.recorder-container {
  width: $record-container-std;
  margin-bottom: $record-container-margin;
  margin-right: $record-container-margin;
}

.track-display {
  display: grid;
  width: $record-container-std;
  margin-top: 20px;
  grid-template-columns: (11/15*$record-container-std) (4/15*$record-container-std);
  grid-template-rows: 300px 2fr auto auto;
  grid-row-gap: 10px;
}

.record-cover, .record-track, .record-time, .record-artist, .record-album {
  grid-row-end: span 1;

  > p, a {
    margin: 0px;
    text-decoration: none;
    color: inherit;
  }

  > a:hover[href] {
    // Linked anchored tags should underline when hovered
    text-decoration-line: underline;
    text-decoration-color: $record-hover-decoration-color;
  }
}

.record-cover {
  width: $record-container-std;
  height: $record-container-std;
  grid-row-start: 1;
  grid-column: 1 / span 2;
}

.record-track {
  grid-row-start: 2;
  grid-column: 1 / span 1;
  font-size: 20px;
}

.record-time {
  grid-row-start: 2;
  grid-column: 2 / span 1;
  font-size: 20px;

  > p {
    justify-content: center;
    text-align: right;
  }
}

.record-artist {
  height: auto;
  grid-row-start: 3;
  grid-column: 1 / span 1;
  font-size: 14px;
}

.record-album {
  height: auto;
  grid-row-start: 4;
  grid-column: 1 / span 1;
  font-size: 14px;
}
